body {
    padding-top: 10px;
    padding-bottom: 20px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

span.field-validation-error {
    color: red;
}

.sidebar{
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #FFFFFF;
    display: block;
}

.sidebar a:hover {
    color: #008000;
}

.sidebar-header {
    padding: 6px 8px 6px 16px;
    font-size: 15px;
    color: #ffa32e;
    display: block;
}

.sidebar-header hr{
    color: #ffa32e;
}

.content {
    margin-left: 160px;
    padding: 0px 10px;
}