@model PassSystem.BackOffice.Web.Models.EmployeePasses.EmployeePassesIndexModel

@{
    ViewBag.Title = "title";
    Layout = "../Shared/_Layout.cshtml";
    List<String> errorMessages = TempData["ErrorMessage"] != null
        ? TempData["ErrorMessage"] as List<String>
        : new List<string>();
    
    
}

<div className="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card my-3">
                <div className="card-body">
                    <h2 className="card-title">Пропуска</h2>
                    <hr/>
                
                    <div class="form-row">
                        <div class="form-group col-12 col-sm-6 col-lg-3 mt-2">
                            <label class="font-weight-bold" for="passId">Номер сотрудника</label>
                            <input type="number" id="passId" placeholder="Введите номер"/>
                        </div>
                        <div class="form-group col-12 col-sm-6 col-lg-3 mt-2">
                            <label class="font-weight-bold" for="passId">Фамилия сотрудника</label>
                            <input type="text" id="employeeLastName" placeholder="Введите фамилию"/>
                        </div>
                        <div class="form-group col-12 col-sm-6 col-lg-3">
                            <input type="button" class="btn btn-primary mt-0" value="Найти" onclick="findItems();"/>
                        </div>
                    </div>
                
                    <div class="form-row">
                        <div class="form-group ml-2">
                            @Html.ActionLink("Добавить пропуск", "Add", "EmployeePasses", null, new {@class = "btn btn-success"})    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @if (errorMessages.Any())
    {
        <div class="alert alert-danger" role="alert">
            @foreach (var error in errorMessages)
            {
                <p>@error</p><br/>
            }
        </div>
    }

    <div class="row">
        <div class="col-12">
            <div className="overflow-auto max-vh-100">
                <div id="listOfPass">
                    @{ Html.RenderPartial("EmployeePassesTable", Model);}
                </div>
            </div>
        </div>
    </div>
        
    
    
</div>

<script type="text/javascript">


    function annulatePass(passId) {
        $.post(
            "/EmployeePasses/AnnulatePass",
            {
                passId: passId
            },
            function(result) {
                var page = $("#currentPage").val();
                refreshItems(page);
            }
        )
    }
    
    function refreshItems(page, lastName, passId){
        if (!lastName) lastName = null;
        if (!passId) passId = null;
        
        $.get(
            "/EmployeePasses/EmployeePassesTable",
            {
                page: page,
                lastName: lastName,
                passId: passId
            },
            function(result) {
                $("#listOfPass").html(result);
            }
        )
    }
    
    function findItems() {
        var currentPage = $("#currentPage").val();
        var lastName = $("#employeeLastName").val();
        var passId = $("#passId").val();
        
        refreshItems(currentPage, lastName, passId);
    }
    
    function changePage(page) {
        refreshItems(page);
    }
    

</script>
